[Unit]
Description=A hackable shell for Hyprland, powered by Fabric.
After=graphical-session.target

[Service]
Type=exec
WorkingDirectory=%h/.config/Ax-Shell
ExecStart=%h/.local/bin/ax-shell
Restart=on-failure
Slice=app-graphical.slice
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=graphical-session.target
