/* === Buttons Base === */
#night-mode-button,
#caffeine-button {
  min-height: 52px;
  border-radius: 16px;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Specific sizes and styles */

#night-mode-button,
#caffeine-button {
  background-color: var(--primary);
  padding: 0 10px;
}

#night-mode-button.disabled,
#caffeine-button.disabled {
  background-color: var(--surface);
  border-radius: 26px;
}


/* Hover states for all relevant buttons */
#night-mode-button:hover,
#caffeine-button:hover {
  background-color: var(--foreground);
}

/* Disabled States */
#night-mode-button.disabled:hover,
#caffeine-button.disabled:hover {
  background-color: var(--surface-bright);
}

/* === Icon Styles === */
#night-mode-icon,
#caffeine-icon {
  color: var(--shadow);
  font-size: 24px;
}

#night-mode-icon.disabled,
#caffeine-icon.disabled {
  color: var(--outline);
}

/* === Main Label Styles === */
#night-mode-label,
#caffeine-label {
  color: var(--shadow);
  font-size: 14px;
  font-weight: bold;
  /* margin-bottom: -4px; */
}

#night-mode-label.disabled,
#caffeine-label.disabled {
  color: var(--outline);
}

/* === Status Text Styles === */
#night-mode-status,
#caffeine-status {
  color: var(--surface-bright);
  font-size: 12px;
}

#night-mode-status.disabled,
#caffeine-status.disabled {
  color: var(--outline);
}
